.git
__pycache__
.terraform.lock.hcl

# Local .terraform directories
.terraform

#  Ignore variables files
*.tfvars

#  Ignore override files
 *.tfoverride

#  Ignore environment-specific files
 .envrc

#  Ignore CLI configuration files
 .terraformrc
 terraform.rc

gcloud_cli_hist.txt
*.tfstate