.git
__pycache__
.terraform.lock.hcl

# Local .terraform directories
.terraform

#  Ignore variables files
*.tfvars

#  Ignore override files
 *.tfoverride

#  Ignore environment-specific files
 .envrc

#  Ignore CLI configuration files
 .terraformrc
 terraform.rc

# Terraform State Files
*.tfstate

# Prefect Files and Folders
.prefect/*

# VSCode
.vscode/*

# Data folder and CSV Files
data/*
*.csv

# Other Files
gcloud_cli_hist.txt